<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar cursos</title>
</head>
<body>
    
    <form action="{% url 'cursoFormulario' %}" method="POST"> {% csrf_token %}
        <h1>Formulario - Agregar cursos</h1>

        <p>Curso: <input type="text" name="curso"></p>
        <p>Camada: <input type="number" name="camada"></p>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>

